{
  "ignorePatterns": ["*.js"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": ["error", "nofunc"],
    "curly": ["error", "multi-line"],
    "consistent-return": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "never"],
    "strict": ["error", "global"],
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "no-undef": "error"
  }
}
