{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "curly": [2, "multi-line"],
    "consistent-return": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": [2, "never"],
    "strict": [2, "global"],
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-undef": 2
  }
}
